#wrapper{
    display: flex;
    min-height: 100vh; /*1vh表示浏览器高度的1%，100vh为浏览器高度，感觉这个挺好的*/
    flex-direction: column;
}
.header{
    margin:0px;
    /*height: 8vh;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;/* 去掉li前的点 */
    background-color: deepskyblue;

}
.header img:nth-child(1){
    width: 40px;
    margin-right:auto;
}
.header img:hover{
    flex-grow: 0.001;
}
.header input[type=search]{
    border-radius: 5px;
    border:1px solid #ebebeb;
    height:30px;
    outline:none;
    justify-content: center;
}

.header input::-webkit-search-cancel-button:after{
    justify-content: center;
    content: 'x';
    font-size: 20px;
    color:#fff
}
.header a{
    display: block;
    font-family: Microsoft Yahei;
    color: #fff;
    text-decoration: none;/*去掉下划线*/
    padding:1em;

}
.header a:hover
{
    background-color:lightblue;
}

@media all and (max-width: 800px){
    .header{
        justify-content: space-around;
    }
}
@media all and (max-width: 600px) {
    .header{
        flex-flow: column nowrap;
        padding: 0;
    }
    .header a{
        text-align: center;
        padding: 10px;
    }
    .header li:last-of-type a{
        border-bottom: 0px;
    }
}
#content{
    flex: 1;
}
#footer{
    height: 10vh;
    background-color: black;
}